html {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}
video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -10;
}
.mate {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -9;
    background-color: #0b0b0b;
    opacity: 0.45;
}

.row {
    margin: 0;
}

.navbar-brand{
    margin-right: 80px !important;
}

.nav-link{
    background-color: transparent !important;
    min-width: 200px;
    color: white;
    border: none;
    margin-right: 30px;
    text-align: left;
    border-left: 1px solid white !important;
}

.nav-link:hover {
    font-weight: 900;
    color: white;
    transition: 0.25s;
}

button:active{
    color:rgb(255, 255, 255) !important;
    font-weight: 900 !important;
}

button:focus{
    color:rgb(255, 255, 255) !important;
    font-weight: 900 !important;
}

#frame {
    border: 1px solid white;
    padding: 55px 200px;
    margin: auto;
    box-sizing: content-box !important;
}

.frame1 {
    border: 1px solid white;
    width: 100%;
    padding: 30px;
    line-height: 1.3;
}


button.close {
    display: block;
    margin: 0;
    background-color: transparent;
    font-size: 30px;
    color: #ffffff;
    width: 35px;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    float: right !important;
}

button.close:hover {
    color: #05c4e5;
}



@media screen and (max-width: 1200px) {
    .nav-link{ 
        min-width: 130px;
    }
    #frame {
        padding: 50px 100px;
    }
}


@media screen and (max-width: 992px) {
    #frame {
        padding: 50px 50px;
    }
    .navbar {
        padding: 35px 0 35px 0 !important;
    }
    .navbar-brand{
        margin-right: 30px !important;
    }
    button.navbar-toggler{
        filter: invert(100%);
    }
    .expandNavBar {
        margin: 0 auto !important;
        box-sizing: content-box !important;
    }
    .nav-item {
        width: 100%;
        height: 100%;
        margin-top: 15px;
    }
    .nav-link {
        margin: auto !important;
        text-align: center !important;
        border-left: none !important;
        width: 100%;
        height: 100%;
    }
    .nav-link:hover {
        color: black !important;
        background-color: #f2f2f2 !important;
    }
    #message {
        font-family: serif;
    }
    .photo {
        background-size: contain !important;
        border-bottom: 1px solid white;
    }
    .col-lg-2 {
        padding-top: 45px;
    }
    .col-lg-10 {
        padding-top: 25px;
    }
    #myName {
        padding-top: 0px !important;
    }
}

@media screen and (max-width: 479px) {
    #cnt {
        display: none !important;
    }
    .tel {
        left: 0px !important;
    }
    
    .mail {
        left: 15px !important;
    }
    
    .viber {
        left: 30px !important;
    }
    
    .linkedin {
        left: 45px !important;
    }
}

.container {
    padding: 0px;
}

.navbar {
    width: 100%;
    padding: 180px 0;
}

#initials {
    font-size: xx-large;
}


button.nav-link {
    border: none;
}


#mouse:hover {
    color: rgb(44, 161, 103);
    text-decoration: overline;
}

.btn {
    border: 2px solid rgba(65,26,142,255);
    width: 200px;
    text-align: center;
    background-color: rgb(11, 75, 99);
    color: white;
}

.hide {
    color: rgb(245, 245, 245);
    border-color: antiquewhite;
}

#cnt {
    position: relative;
    opacity: 1;
    z-index: 10 !important;
}

#cnt:active {
    background-color: rgb(11, 75, 99);
    border: 2px solid rgba(65,26,142,255);
    color: white;
}


.btn:hover {
    transition: 0.25s;
    background-color: #3aafee !important;
    border: 2px solid #ffffff;
    color: rgb(255, 255, 255);
}


#call {
    padding: 0;
    margin: 0;
}

.btnstyle {
    position: relative;
    width: 50px;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center !important;
}

.tel {
    transition: 1.15s;
    background-color: rgb(96, 242, 128);
    border-color: rgb(96, 242, 128);
}

.mail {
    transition: 1.15s;
    background-color: rgb(182, 181, 189);
    border-color: rgb(182, 181, 189);
}

.viber {
    transition: 1.15s;
    background-color: rgb(143,93,183);
    border-color: rgb(143,93,183);
}

.linkedin {
    transition: 1.15s;
    background-color: rgb(10, 102, 194);
    border-color: rgb(10, 102, 194);
}


.line {
    border-bottom: 1px solid white;
}

.section {
    width: 100%;
    box-sizing: content-box;
    background-color: transparent !important;
    color: white;
}

.content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    text-align: justify;
}

.photo {
    min-height: 150px;
    width: 100%;
    height: 100%;
    background-image: url('imgs/img_CV.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.download {
    margin: 35px auto  15px auto !important;
    max-width: 15rem !important;
    padding: 10px 15px;
    background-color: #0b0b0b;
    color: #05c4e5 !important;
}

.download:hover {
    background-color: #05c4e5;
    color: rgb(0, 0, 0) !important;
    transition: 0.75s;
}

#about, #education, #experience, #skills {
    padding-top: 63px !important;
    display: none;
}
